  $color-background-a1: #2A2740;
  $color-background-a2: #fddcc4;
  $color-background-a3: #4c4c4c;

  $color-text-a1: #cdcdcd;
  $color-text-a2: #f5683b;
  $color-text-a3: #0d0c1c;
  $color-text-a4: #36192f71;

  $font-size-a1: 42px;
  $font-size-a2: 18px;