@import './abstracts/variables.scss';

.header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background-a1;

  &__link {
    text-decoration: none;
  }
}

.title {
  font-size: $font-size-a1;
  color: $color-text-a2;
  text-decoration: none;
  

  & img {
    padding: 0 5px;
  }
}

.subtitle {
  font-size: $font-size-a2;
  letter-spacing : .38em;
  color: $color-text-a2;
  text-decoration: none;
}

.navigation {
  width: 250px;
  display: flex;
  justify-content: space-around;

  &__item {
    text-decoration: none;
    color: $color-text-a2;
    font-size: $font-size-a2;
  }
}

.active {
  text-decoration: underline;
}